[submodule "pwdgen"]
	path = pwdgen
	url = https://github.com/deutherity/pwdgen
[submodule "findconfdir"]
	path = findconfdir
	url = https://github.com/deutherity/findconfdir
[submodule "password"]
	path = password
	url = ./password
